@use './_vars' as vars;

.p-component {

    &.p-dataview-grid {
        .p-dataview-content {
            background: none;
        }

        .p-paginator {
            background: none;
            

            .p-paginator-page {
                color: orange;
                background: none;
                font-size: bold;
            }
        }

    }

    &.p-button {
        background-color: vars.$colorPrimary !important;
        color: white !important;
        border-radius: 4px !important;
        padding: 0.75rem 1.25rem !important;
        font-weight: 500;
      }
    
    &.p-inputtext {
        border: 1px solid vars.$colorPrimaryLight;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}