
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0,0,0);
$colorGray: rgb(49, 49, 49);

$colorRed: rgb(250, 23, 23);
$colorRedLight: rgb(245, 138, 138);
$colorRedDark: rgb(93, 3, 3);

$colorYellow: rgb(255, 251, 0);
$colorYellowLight: rgb(255, 248, 186);
$colorYellowDark: rgb(163, 147, 3);

$desktop: 800px;
$mobile: 799px;